.fz-40 {
  font-size: 40px;
}

/* Variables de color si el tema es nulo o light */
html {
  --primary-color: #202d38;
  --secondary-color: #fff;
  --third-color: #ced4da;
}

/* Variables de color si el tema es dark */
html[data-theme="dark"] {
  --primary-color: #fff;
  --secondary-color: #202d38;
  --third-color: #fff;
}
/* =============================================== */



body {
  background-color: var(--secondary-color) !important;
}

.color-text {
  color: var(--primary-color);
}

.icon-color {
  color: var(--primary-color);
}



/*============= animacion =============*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

/* ======================================= */


/* ===================================== */

.toggle {
  align-items: center;
  border-radius: 100px;
  display: flex;
  font-weight: 700;
  margin-bottom: 16px;
}
.toggle:last-of-type {
  margin: 0;
}

.toggle__input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.toggle__input:not([disabled]):active + .toggle-track, .toggle__input:not([disabled]):focus + .toggle-track {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #121943;
}
.toggle__input:disabled + .toggle-track {
  cursor: not-allowed;
  opacity: 0.7;
}

.toggle-track {
  background: var( --primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  height: 30px;
  margin-right: 12px;
  position: relative;
  width: 60px;
}

.toggle-indicator {
  align-items: center;
  background: var(--secondary-color);
  border-radius: 24px;
  bottom: 2px;
  display: flex;
  height: 24px;
  justify-content: center;
  left: 2px;
  outline: solid 2px transparent;
  position: absolute;
  transition: 0.25s;
  width: 24px;
}

.checkMark {
  fill: #fff;
  height: 20px;
  width: 20px;
 /*  opacity: 0; */
  /* transition: opacity 0.25s ease-in-out; */
}

.check-icon {
  color: var(--primary-color);
}

.toggle__input:checked + .toggle-track .toggle-indicator {
  background: var(--secondary-color);
  transform: translateX(30px);
}
.toggle__input:checked + .toggle-track .toggle-indicator .checkMark {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

@media screen and (-ms-high-contrast: active) {
  .toggle-track {
    border-radius: 0;
  }
}
/* ================================================== */

.h-100vh {
  height: 100vh;
}

.white {
  color: white;
}

.banner-start {
  background-image: url(images/twitterFont.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: left;
}

.btn-color {
  background-color: rgb(29, 161, 242) !important;
  border: 1px solid rgb(29, 161, 242) !important;
  color: #FFFF !important;
  box-shadow: none !important;
}

.btn-color:hover {
  background-color: rgb(27, 153, 231) !important;
  border: 1px solid rgb(27, 153, 231) !important;
  color: #FFFF !important;
  box-shadow: none !important;
}


.btn-outline-color {
  background-color: transparent !important;
  border: 1px solid rgb(29, 161, 242) !important;
  color: rgb(29, 161, 242) !important;
  box-shadow: none !important;
}

.btn-outline-color:hover {
  background-color: rgb(29, 161, 242) !important;
  border: 1px solid rgb(29, 161, 242) !important;
  color: #FFFF !important;
  box-shadow: none !important;
}


/* ======================== form =========================== */

.form-custom {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--primary-color) !important;
  background-color: var(--secondary-color) !important;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 5rem !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: none !important;
}

.form-custom:focus {
  border: 1px solid rgb(29, 161, 242) !important;
  border-radius: 5rem !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: none !important;
}

.form-custom:focus + label,
.form-custom:focus + label + .angle-select {
  color: rgb(29, 161, 242) !important;
  opacity: 1 !important;
}

.form-floating > .form-control, .form-floating > .form-select {
  height: calc(3.5rem + 2px);
  padding: 1.625rem 1.75rem 0.625rem 1.75rem !important;
}

.form-floating > label {
  height: 100%;
  padding: 1rem 1.75rem !important;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-select ~ label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.color-input {
  color: var(--primary-color);
}


.form-select {
  background-image: none !important;
}

.angle-select {
  transform: translateY(100%);
  top: 0;
  right: 15px;
  color: var(--third-color);
}

